
#root {
  margin: 0;
  padding: 0;
}


.active-button {
  background-color: var(--color-fc-orange);
  cursor: pointer;
  border-radius: 0.5rem; 
  color: white;
  width: 15.75rem; 
  height: 3.25rem; 
  margin: 2.5rem 2.5rem;
  font-weight: 647; 
  font-size: 1.225rem; 
  line-height: 1.75rem;

  &:hover {
    background-color: var(--color-fc-orange/80);
  }
}


.passive-button {
  background-color: var(--color-fc-gray); 
  cursor: pointer;
  color: white;
  border-radius: 0.5rem; 
  width: 15.75rem; 
  height: 3.25rem; 
  margin: 2.5rem 2.5rem;
  font-weight: 647; 
  font-size: 1.225rem; 
  line-height: 1.75rem; 
}


@media (min-width: 640px) { /* sm */
  .active-button {
    margin: 2.5rem 0.4rem;
  }
}

@media (min-width: 1024px) { /* lg */
  .active-button {
    margin: 2.5rem 2.5rem;
  }
}



@keyframes slow-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin-animation{
  animation: slow-spin 2s linear infinite;
}


::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1; 
  border-radius: 3px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8; 
}

d
* {
  scrollbar-width: thin; 
  scrollbar-color: #c1c1c1 transparent; 
}