@import "tailwindcss";

@theme {
  --color-fc-orange: oklch(0.6547 0.205 30.75978472307827);
  --color-fc-light-gray: oklch(0.9702 0 0);
  --color-fc-gray: oklch(0.6201 0 0);
  --color-fc-dark-gray: oklch(0.4204 0.0053 17.37);
  --color-fc-border-gray: oklch(0.89 0 0);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;

  
}



body {
  margin: 0;
  padding: 0;
}

.select__indicator-separator {
  display: none;
}